.leContainer {
    display: flex;
    text-align: center;
    border: solid greenyellow;
    height: 30rem;
    width: 100%;
}

.titre {
    display: flex;
    justify-content: space-around;
font-family: Breaking Bad ;
    font-weight: bold;
    font-size: xx-large;
  color: #2a7e2e ;
 

}

.regles {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

button {
    font-style: italic;
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
    color: grey;

}

.containerMystere {
    height: 8rem;
    border: solid red;
}

/* 
 .mystere{
   
 } */

.affichage {
    border: solid blue;
    height: 8rem;
    width: 100%;
}

@font-face{
font-family: Breaking Bad ;
src: url(assets/fonts/Heart\ Breaking\ Bad.otf);


}

button{
    font-family: "Breaking Bad";
  color: #2a7e2e ;
}