.leContainer {
    border: solid greenyellow;
    height: 40rem;
    width: 100%;
}

/* Say my Word */
h1 {
    text-align: center;
}

.titre {
    text-align: center;
    font-family: Breaking Bad;
    font-size: xx-large;
    color: #2a7e2e;
}

.regles {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border: solid pink;
    width: 100%;

}


.devine {
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
}

img {
    height: 7rem;
}

button {
    font-style: italic;
    margin: 0.5rem;
    height: 0.5rem;
    width: 3rem;
    color: white;
    font-size: x-large;
    background-color: #2a7e2e;


}

.clavier {
    display: flex;
    justify-content: center;
   
    height: 12rem;
  
    width: 54rem;
    flex-wrap: wrap;
    border: solid red;
}


.lettres {

    height: 5rem;



}




.affichage {
    /* border: solid blue; */
    height: 13rem;
    width: 100%;
}

.mystere {
    font-size: xx-large;
    text-align: center;
}

/* Police breaking bad */
@font-face {
    font-family: Breaking Bad;
    src: url(assets/fonts/Heart\ Breaking\ Bad.otf);
}

/* @media (max-width:(400px)){

.leContainer{
    width: 90%;
}
    button{
    width: 1rem;
}
.clavier{
    display: flex;
    width: 20%;
   border: solid red;

}
.lettres{
  width: 30rem;
}
} */